aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
appdirs==1.4.4
attrs==25.3.0
bitarray==3.7.1
bitstring==4.3.1
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
colorama==0.4.6
crc16==0.1.1
crc32c==2.7.1
frozenlist==1.7.0
graphql-core==3.2.6
graphql_query==1.0.3
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
multidict==6.6.4
propcache==0.3.2
pycparser==2.23
pydantic==1.10.24
PyNaCl==1.6.0
pytonlib==0.0.66
PyYAML==6.0.3
requests==2.32.5
ton==0.26
toncli==0.0.43
tonsdk==1.0.15
TonTools==2.1.2
tvm-valuetypes==0.0.12
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.20.1
